* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#81DFD9, #accfef);
    display: grid;
    place-items: center;
}

.sign-up {
    padding: 1.5rem;
    /* width: 28rem; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

label {
    font-size: 1.2rem;
    margin-bottom: 8px;
}
.passwordDiv{
    width: 100%;
    display: flex;
    gap: 10px;
}

input {
    width: 85%;
    height: 2rem;
    font-size: 1.1rem;
    padding: 8px;
    margin-bottom: 15px;
    outline: none;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 5px;
}

input:focus {
    outline: 2px solid #accfef;
}

.fa-eye{
    font-weight: 100;
    cursor: pointer;
}


form #submit {
    padding: 8px 15px;
    width: 85%;
    font-size: 1.1rem;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: #81dfd991;
    color: white;
}

#submit.active {
    background-color: #51d6cd;
    cursor: pointer;
}

.password-rules li {
    color: red;
}

li {
    display: flex;
    gap: 12px;
    align-items: center;
}

.fa-check {
    font-style: italic;
    color: rgb(1, 175, 1);
    display: none;
}